{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load widget_tweaks %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
       <div class="row">
<div class="col-md-6 col-md-offset-3">   
    
       <form method="POST" action="{% url 'account_reset_password' %}" accept-charset="UTF-8" role="form" id="loginform" class="form-signin">
	      {% csrf_token %}
	      <fieldset>
	      <h2>Request password reset</h2>
	      <hr class="colorgraph">
          
           {% if form.errors %}
        <div class="bs-callout bs-callout-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h5>There were errors during registration:</h5>
          
          {% if form.email.errors %}
			{{ form.email.errors|striptags }}
          {% endif %}				   
        </div>            
        {% endif %}
          {{ form.email|add_class:'form-control' }}
	      <p>
		     <input class="btn btn-lg btn-success btn-block" type="submit" value="{% trans "Request password reset" %}" />
	      </p>
	      <p class="text-center">
		     Remembered your password? <a href="{% url 'account_login' %}">Login here</a>
	      </p>
	      </fieldset>		  	
       </form>
</div>
</div>
{% endblock %}

{% block styles %}
<style type="text/css">
       body{
	      background-image: url('./img/blur.jpg');
       }
       .form-signin .form-control {
	      position: relative;
	      font-size: 16px;
	      height: auto;
	      padding: 10px;
	      margin-bottom: 10px;
	      -webkit-box-sizing: border-box;
	      -moz-box-sizing: border-box;
	      box-sizing: border-box;
       }
</style>
{% endblock %}

{% block contentold %}

    <h1>{% trans "Password Reset" %}</h1>
    
    
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    
    <form method="POST" action="" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="" />
    </form>
    
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
