{% extends "account/base.html" %}

{% load url from future %}
{% load bootstrap %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="row">
	<div class="col-md-6 col-md-offset-3">
	    
	
<h1>{% trans "Sign Up" %}</h1>   

{% if socialaccount.providers  %}
<p>Prijavite se sa svojim Facebook nalogom</p>

<div class="socialaccount_ballot">

  <div class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </div>

  <hr />

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}
        
<p>Ili se registrujte sa svojom email adresom.</p>	
	
<form id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|bootstrap }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-actions">
  <button class="btn btn-success" type="submit">{% trans "Sign Up" %}</button>
  </div>
</form>

<hr />
<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

	</div>
    </div>
    


{% endblock %}


