{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <div class="">
        <h1>Dobrodošli!</h1>
        <p class="lead">Objavite oglas za posao, mi ćemo vam pronaći radnika. Oglas koji objavite vidjeće samo naši studenti.</p>
    </div>
    <div class="row">
        <div class="col-md-8">                               
    
    <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Vaši oglasi za posao</h3>
            </div>                              
    
    {% if jobs %}
        
                 <ul class="list-group">
     {% for job in jobs %}
        <li class="list-group-item">            
            <div class="media-body">                   
                <p>{{ job.description}}</p>
                <p>Cijena: <strong>{{ job.price }}KM</strong></p>
                <p class="text-muted">{{ job.date_created }}</p>
                <ul class="list-inline">
                    <li><a href="{% url 'jobs:detail' job_id=job.id %}">Detalji</a></li>
                    <li><a href="{% url 'jobs:edit' job_id=job.id %}">Izmijeni</a></li>
                    <li><a href="{% url 'jobs:delete' job_id=job.id %}">Obriši</a></li>
                </ul>                
            </div>
        </li>                       
        {% endfor %}        
  </ul>
                 
        
           
    {% else %}
    <div class="panel-body">
        <p class="text-muted">Trenutno nemate objavljenih oglasa za posao. Objavite novi oglas za posao.</p>
        </div>
    {% endif %}
    </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
  <div class="panel-body">
    <p>Dobrodošli! Objavite novi oglas za posao.</p>
    <a class="btn btn-block btn-primary" href="{% url "jobs:add_job" %}">Dodaj novi oglas</a>    
  </div>
</div>
            
        </div>
    </div>

    
    
    
{% endblock %}