{% extends "base.html" %}
{% load i18n %}
{% block content %}        
      <div class="jumbotron">
        <h1>Ne morate sve sami da uradite</h1>
        <p class="lead">Pronađite pomoć za bilo koji posao koji trebate uraditi. Olakšajte sebi život i pomozite studentima da zarade džeparac.</p>
        <p><a class="btn btn-lg btn-success" href="{% url "jobs:add_job" %}" role="button">Objavi oglas</a></p>
      </div>
<!--
      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Dostava</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Čišćenje</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Rad na računaru</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Promocije</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Fizički poslovi</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Sve ostalo</h4>
          <p>Svi ostali poslovi koji vam padnu na pamet.</p>
        </div>
      </div>
-->     
      
{% endblock %}