{% extends 'base.html' %}

{% block content %}
   
   <div class="alert alert-success">
      Uspješno ste napravili oglas za posao. Javićemo vam se kad pronađemo studenta koji će uraditi ovaj posao za vas.
   </div>
   
    <h3>{{ job.user.first_name }} {{ job.user.last_name }}</h3>            
            <p>
            {{ job.description }}
            </p>

             <p>
                Cijena: <strong>{{ job.price }}KM</strong>
            </p>
            <p>
                Telefon: <strong>{{ job.phone_number.phone_number }}</strong>
            </p>
            <p>
                Adresa: <strong>{{ job.address }}</strong>
            </p>            
            
    {% if current_user.profile.is_student %}        
        {% if user_applied %}
            <form action="{% url 'jobs:cancel_job_application' job_id=job.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Odustani</button>
            </form>
        {% else %}
            {% if job.available %}
                <form action="{% url 'jobs:apply_for_job' job_id=job.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Prihvati posao</button>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}