{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <h1>Dostupni poslovi</h1>
    <a href="{% url "jobs:add_job" %}">Dodaj novi oglas za posao</a>
    {% if jobs %}
        {% for job in jobs %}
   
            <h3>{{ job.user.first_name }} {{ job.user.last_name }}</h3>            
            <p>
            {{ job.description }}
            </p>
            <p>
                Cijena: <strong>{{ job.price }}KM</strong>
            </p>            
            <p>
            <a href="{% url 'jobs:detail' job_id=job.id %}">
                Detalji
            </a>
            </p>
            <hr /> 
        {% endfor %}
    {% else %}
        <p>Trenutno nema objavljenih poslova.</p>
    {% endif %}
    
    <h1>Prihvaceni poslovi</h1>
    {% if job_applications %}
        {% for application in job_applications %}
            {% with application.job as job %}
                <h3>{{ job.user.first_name }} {{ job.user.last_name }}</h3>            
            <p>
            {{ job.description }}
            </p>
            <p>
                Cijena: <strong>{{ job.price }}KM</strong>
            </p>            
            <p>
            <a href="{% url 'jobs:detail' job_id=job.id %}">
                Detalji
            </a>
            {% endwith %}
        {% endfor %}
    {% endif %}
{% endblock %}